.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 246, 206, 1);
}

.inner_container {
  width: 90%;
  position: relative;
}

.heading {
  font-family: Inter;
  font-size: 35px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 0;
  color: rgba(114, 48, 55, 1);
}

.image_box {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 350px;
  margin: 0 10px;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 400ms ease-in-out;
}

.disc {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -200px;
  text-align: center;
  background: linear-gradient rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9);
  transition: all 400ms ease-in-out;
}

.course_title {
  position: absolute;
  font-family: Poppins;
  top: -200px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 32px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.0038em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.course_class {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.btn_slick {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 10px 50px;
  width: 50%;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 145, 76, 1);
}

.image_box:hover > .disc {
  bottom: 50px;
}

.image_box:hover > .disc > .course_title {
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
}

.left_btn,
.right_btn {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
}

.left_btn {
  top: 45%;
  left: 1rem;
  rotate: 180deg;
}
.right_btn {
  top: 48%;
  right: 1rem;
}

.image_box:hover > img {
  transform: scale(1.15);
  border-radius: 10px;
}

/* react slick css */
.slick-slider {
  padding: 0 0 4rem 0 !important;
}

.slick-slider .slick-list {
  padding: 30px 30px !important;
}

.center .slick-center .image_box {
  transform: scale(1.15);
  z-index: 99;
  transition: all 400ms ease-in-out;
  pointer-events: all;
}

.center .image_box {
  pointer-events: none;
}

.center .slick-center .image_box .image {
  border-radius: 10px;
}

@media screen and (max-width: 1350px) {
  .inner_container {
    width: 95%;
  }

  .heading {
    font-family: Inter;
    font-size: 33px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 45px;
  }

  .image_box {
    height: 270px;
  }

  .image {
    width: 290px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 400ms ease-in-out;
  }

  .course_title {
    position: absolute;
    font-family: Poppins;
    top: -220px;
    left: -8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.0038em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  .image_box:hover > .disc {
    bottom: 50px;
  }

  .image_box:hover > .disc > .course_title {
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .left_btn {
    top: 48%;
    left: 1rem;
    rotate: 180deg;
  }

  .left_btn > img {
    width: 70px;
    height: 70px;
  }
  .right_btn {
    top: 48%;
    right: 1rem;
  }

  .right_btn > img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 990px) {
  .inner_container {
    width: 90%;
    position: relative;
  }

  .heading {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;
  }

  .image_box {
    height: 250px;
  }

  .image {
    width: 290px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 400ms ease-in-out;
  }

  .disc {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -200px;
    text-align: center;
    background: linear-gradient rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9);
    transition: all 400ms ease-in-out;
  }

  .course_title {
    position: absolute;
    font-family: Poppins;
    top: -220px;
    left: 6px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.0038em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  .course_class {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  .btn {
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    padding: 10px 50px;
    width: none;
  }

  .image_box:hover > .disc {
    bottom: 50px;
  }

  .image_box:hover > .disc > .course_title {
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .left_btn {
    top: 45%;
    left: 0.5rem;
    rotate: 180deg;
  }
  .right_btn {
    top: 48%;
    right: 0.5rem;
  }

  .left_btn > img {
    width: 55px;
    height: 55px;
  }

  .right_btn > img {
    width: 55px;
    height: 55px;
  }

  .slick-slider {
    padding: 0 0 2rem 0 !important;
  }

  .slick-slider .slick-list {
    padding: 20px 30px !important;
  }
}
@media (max-width: 590px) {
  .inner_container {
    width: 95%;
    position: relative;
  }

  .heading {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;
  }

  .image_box {
    height: 250px;
  }

  .image {
    width: 270px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 400ms ease-in-out;
  }

  .disc {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -200px;
    text-align: center;
    background: linear-gradient rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9);
    transition: all 400ms ease-in-out;
  }

  .course_title {
    position: absolute;
    font-family: Poppins;
    margin-bottom: 0;
    top: -220px;
    left: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.0038em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  .course_class {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  .btn {
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    padding: 10px 50px;
    width: none;
  }

  .image_box:hover > .disc {
    bottom: 50px;
  }

  .image_box:hover > .disc > .course_title {
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .left_btn {
    top: 52%;
    left: 0.5rem;
    rotate: 180deg;
  }
  .right_btn {
    top: 53%;
    right: 0.5rem;
  }

  .left_btn > img {
    width: 45px;
    height: 45px;
  }

  .right_btn > img {
    width: 45px;
    height: 45px;
  }

  .slick-slider {
    padding: 0 0 0 0 !important;
    display: flex !important;
  }

  .slick-slider .slick-list {
    padding: 20px 30px !important;
  }

  .slick-initialized .slick-slide {
    display: flex !important;
  }
}
