.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 1s, top 1s;
  z-index: 1000;
}

@keyframes slideIn {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.modal.active {
  opacity: 1;
  animation: slideIn 1s forwards, fadeIn 1s;
}

.inner_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  max-height: 100%; /* Allow inner content to be scrollable */
  max-width: 50%;
}

.model_img {
  width: 448px;
  height: 200px;
}

.heading_one {
  font-family: Poppins;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 7px;
}

.heading_two {
  margin-top: 0;
  width: 100%;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  color: rgba(71, 84, 103, 1);
  letter-spacing: -0.01em;
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.name {
  width: 90%;
  padding: 4px 12px;
  border: 2px solid rgba(239, 240, 246, 1);
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 30px;
  /* box-shadow: rgba(50, 50, 50, 0.2) 0px 7px 10px 0px; */
}

.mobile {
  width: 90%;
  padding: 4px 12px;
  border: 2px solid rgba(239, 240, 246, 1);
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 30px;
  /* box-shadow: rgba(50, 50, 50, 0.2) 0px 7px 10px 0px; */
}

.select {
  width: 95%;
  padding: 8px 12px;
  border: 2px solid rgba(239, 240, 246, 1);
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 30px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px; */
}

.select > option {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 5px;
  border: 2px solid rgba(239, 240, 246, 1);
  background-color: #fff;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.select > option:hover {
  background-color: rgba(239, 240, 246, 1);
}

.text_area {
  width: 90%;
  margin-top: 10px;
  height: 100px;
  padding: 4px 12px;
  border: 2px solid rgba(239, 240, 246, 1);
  background-color: transparent;
  outline: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 10px;
  margin-top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  gap: 40px;
}

.btn_close {
  padding: 8px 70px;
  border: none;
  border-radius: 30px;
  background-color: rgba(117, 117, 117, 1);
  font-family: Inter;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
}

.btn {
  padding: 8px 70px;
  color: #fff;
  border: none;
  border-radius: 30px;
  background-color: rgba(255, 145, 76, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 246, 206, 1);
  color: rgba(255, 145, 76, 1);
  border: 2px solid rgba(255, 145, 76, 1);
}

@media screen and (max-width: 990px) {
  .inner_modal {
    padding: 20px;
    border-radius: 10px;
  }

  .model_img {
    width: 390px;
    height: 150px;
  }

  .heading_one {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 0;
  }

  .heading_two {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
  }

  .name {
    font-size: 13px;
    line-height: 25px;
  }

  .mobile {
    font-size: 13px;
    line-height: 25px;
  }

  .select {
    padding: 8px 12px;
    font-size: 15px;
    line-height: 25px;
  }

  .select > option {
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
  }

  .text_area {
    width: 90%;
    margin-top: 0;
    padding: 7px 15px;
    font-size: 15px;
    line-height: 28px;
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
  }

  .btn_close {
    padding: 7px 40px;
    font-size: 12px;
  }

  .btn {
    padding: 7px 40px;
    font-size: 12px;
  }
}

@media screen and (max-width: 690px) {
  .inner_modal {
    padding: 15px;
    border-radius: 10px;
    max-width: 85%;
  }

  .model_img {
    width: 290px;
    height: 150px;
  }

  .heading_one {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 0;
  }

  .heading_two {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }

  .name {
    font-size: 11px;
    line-height: 20px;
  }

  .mobile {
    font-size: 11px;
    line-height: 20px;
  }

  .select {
    padding: 7px 12px;
    font-size: 11px;
    line-height: 20px;
  }

  .select > option {
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
  }

  .text_area {
    width: 90%;
    margin-top: 0;
    padding: 7px 15px;
    font-size: 11px;
    line-height: 28px;
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
  }

  .btn_close {
    padding: 5px 30px;
    font-size: 10px;
  }

  .btn {
    padding: 5px 30px;
    font-size: 10px;
  }
}
