.section {
    text-align: center;
    color: #4a5568;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-top: 2.5rem;
}

.container {
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 44rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #edf2f7;
    border-radius: 1.5rem;
}

.container img {
    object-fit: cover;
    object-position: center;
    border-radius: 1.5rem;
    width: 100px;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
    font-size: 2.25rem;
    margin-top: 1rem;
}

.error-title {
    color: #000;
    font-size: 1.5rem;
    font-weight: medium;
    margin-top: 1rem;
}

.error-description {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.message-box {
    background-color: #E6F5E1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #000;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    font-size: 1.5rem;
    margin-top: 2.5rem;
}

.retry-button {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid;

    background-color: #20AE5C;
    color: #fff;
    padding-left: auto;
    padding-right: auto;
}

.cancel-button {
    margin-top: 1.75rem;

    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}