.courses_fees {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
  background-color: rgba(255, 246, 206, 1);
}

.heading_top {
  font-family: Inter;

  width: 85%;
  margin: auto;
  font-size: 29px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(6, 6, 6, 1);
  margin-top: 60px;
}

.slick-slider {
  width: 85%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 70px;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  display: flex;
  gap: 50px !important;
}

.slick-initialized .slick-slide {
  width: 400px !important;
  height: 280px !important;
}

/* .slick-prev,
.slick-next {
  display: none !important;
} */

.prev_btn,
.next_btn {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  top: 50%;
  z-index: 2;
  cursor: pointer;
}

.prev_btn {
  left: 50px;
  transform: rotate(180deg);
}

.next_btn {
  right: 50px;
}
