.header {
  display: flex;
  flex-direction: column;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(6, 6, 6, 1);
  padding: 12px 0;
}

.top_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.top_link {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(244, 244, 246, 1);
  cursor: pointer;
}

.header_bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0 15px 0;
  background-color: rgba(255, 246, 206, 1);
}

.header_bottom.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2.3;
}

.logo {
  width: 80px;
  height: 70.5px;
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 6.7;
}

.para {
  font-size: 15px;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: rgba(1, 31, 68, 1);
  cursor: pointer;
  text-align: center;
}

.para:hover {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
  color: rgba(152, 34, 34, 1);
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.btn {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  background-color: rgba(255, 145, 76, 1);
  cursor: pointer;
}

.btn:hover {
  color: rgba(255, 145, 76, 1);
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 145, 76, 1);
}

.header_bottom.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.mbl_header {
  display: none;
}

@media screen and (max-width: 1020px) {
  .top_link {
    font-size: 11px;
  }

  .left {
    flex: 2;
  }

  .logo {
    width: 60px;
    height: 50.5px;
  }

  .center {
    flex: 7.5;
  }

  .para {
    font-size: 12px;
    font-weight: 500;
  }

  .para:hover {
    font-size: 13px;
    font-weight: 700;
    color: rgba(152, 34, 34, 1);
  }

  .right {
    flex: 2.5;
  }

  .btn {
    font-size: 11px;
    font-weight: 700;
    padding: 8px 20px;
  }

  .mbl_header {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .header {
    display: none;
  }

  /* .mbl_main_header {
    display: flex;
    flex-direction: column;
  } */

  .mbl_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    position: relative;
    background-color: rgba(255, 246, 206, 1);
  }

  .mbl_logo {
    padding: 7px 15px;
    cursor: pointer;
  }

  .mbl_logo_img {
    width: 50px;
    height: 40px;
  }

  .mbl_menu_hidden {
    position: absolute;
    left: -100%;
    top: 54px;
    background-color: rgba(255, 246, 206, 1);
    width: 100%;
    transition: left 0.7s ease-in-out;
  }

  .mbl_menu {
    position: absolute;
    top: 54px;
    background-color: rgba(255, 246, 206, 1);
    width: 100%;
    padding: 5px 0;
    transition: left 0.7s ease-in-out;
  }

  .mbl_menu.open {
    left: 0;
  }

  .mbl_para {
    margin-left: 25px;
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: rgba(1, 31, 68, 1);
    cursor: pointer;
  }

  .mbl_para:hover {
    color: rgba(152, 34, 34, 1);
    font-size: 700;
  }

  .hamburger {
    color: rgba(255, 145, 76, 1);
    padding: 7px 15px;
  }

  .mbl_Links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
  }

  .contact_title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    color: rgba(255, 145, 76, 1);
    margin-left: 25px;
  }

  .link_imgs {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 25px;
    gap: 48px;
    margin-bottom: 40px;
  }

  .mbl_contact_link {
    width: 22px;
    height: 22px;
    padding: 7px;
    box-shadow: rgba(255, 145, 76, 1) 0px 1px 4px;
    border-radius: 50%;
  }
  .mbl_contact_link:hover {
    width: 22px;
    height: 22px;
    padding: 10px;

    box-shadow: rgba(255, 145, 76, 1) 0px 3px 8px;
    border-radius: 50%;
  }
}
