body {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 246, 206, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 206, 77, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 145, 76, 1);
}
