/* Base Styles */
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.main-box {
    flex-direction: row;
}

/* Section Styles */
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.text-gray-600 {
    color: #4a5568;
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Container Styles */
.max-w-lg {
    max-width: 65rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


/* Card Styles */
.bg-white {
    background-color: #fff;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.rounded-b {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Heading Styles */
.text-lg {
    font-size: 1.4rem;
}



.text-black {
    color: #000;
}

.pt-6 {
    padding-top: 1.5rem;
}

/* Horizontal Rule Styles */
hr {
    border-top: 1px solid #e2e8f0;
}

/* Radio Button Styles */
.radio {
    appearance: none;
    background-color: #fff;
    border: 1px solid #d2d6dc;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    height: 1rem;
    margin-right: 0.375rem;
    width: 1rem;
}

.radio-xs {
    height: 0.75rem;
    width: 0.75rem;
}

.hover:bg-orange-400:hover {
    background-color: #fbd38d;
}

/* Input Styles */
.text-base {
    font-size: 1.125rem;
}

.font-medium {
    font-weight: 600;
}



.mb-1 {
    margin-bottom: 0.25rem;
}

.text-gray-800 {
    color: #2d3748;
}

.border {
    border-width: 1px;
}

.rounded {
    border-radius: 0.25rem;
}

.leading-5 {
    line-height: 1.5rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.border-gray-200 {
    border-color: #edf2f7;
}

.hover:border-gray-300:hover {
    border-color: #cbd5e0;
}

.focus:border-indigo-300:focus {
    border-color: #90cdf4;
}

.shadow-sm {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.placeholder-gray-400::placeholder {
    color: #a0aec0;
}

.focus:ring-0:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.w-full {
    width: 100%;
}

/* Checkbox Styles */
.checkbox {
    appearance: none;
    background-color: #fff;
    border: 1px solid #d2d6dc;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    height: 1rem;
    margin-right: 0.375rem;
    width: 1rem;
}

.checkbox-sm {
    height: 0.75rem;
    width: 0.75rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

/* Button Styles */
.inline-flex {
    display: inline-flex;
}

.space-y-4 {
    margin-bottom: 1rem;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.border {
    border-width: 1px;
}

.border-transparent {
    border-color: transparent;
}

.rounded-2xl {
    border-radius: 0.5rem;
}

.leading-5 {
    line-height: 1.25rem;
}

.shadow-sm {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.transition {
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Button Hover Styles */
.bg-orange-400 {
    background-color: #FF914C;

}

.hover:bg-orange-600:hover {
    background-color: #f6ad55;
}

/* Text Styles */
.text-white {
    color: #fff;
}

.text-xs {
    font-size: 0.75rem;
}

.text-gray-400 {
    color: #a0aec0;
}

.text-start {
    text-align: left;
}

/* table styles */
.table-header {
    background-color: #fee75c;
    color: #c53030;
}

/* Responsive Styles */
@media (min-width: 640px) {
    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 768px) {
    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .main-box {
        flex-direction: column;
    }
}