.classes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 30px;
}

.heading {
  font-family: Inter;
  font-size: 29px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: rgba(114, 48, 55, 1);
}

.cards {
  display: flex;
  width: 100%;

  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 392px;
  height: 358px;
  border-radius: 10px;
  background-color: rgba(255, 246, 206, 1);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(255, 145, 76, 1);
  background-color: rgba(255, 246, 206, 0.9);
}

.card_img {
  width: 90px;
  height: 90px;
}

.card_para {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  max-width: 300px;
  color: rgba(6, 6, 6, 1);
}

.color_text {
  color: rgba(255, 145, 76, 1);
}

.btn {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 12px 35px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: rgba(255, 145, 76, 1);
  transition: transform 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
}

.card:hover .btn {
  padding: 16px 70px;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .cards {
    gap: 40px;
  }

  .card {
    padding: 10px;
    width: 350px;
    height: 308px;
    border-radius: 10px;
    background-color: rgba(255, 246, 206, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease,
      background-color 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(255, 145, 76, 1);
    background-color: rgba(255, 246, 206, 0.9);
  }

  .card_img {
    width: 80px;
    height: 80px;
  }

  .card_para {
    font-size: 17px;
    line-height: 25px;
    max-width: none;
  }

  .btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 11px 30px;
    border-radius: 30px;
  }

  .card:hover .btn {
    padding: 15px 55px;
    font-size: 16px;
  }
}
@media screen and (max-width: 990px) {
  .heading {
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    width: 100%;
    color: rgba(6, 6, 6, 1);
  }
  .cards {
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    width: 270px;
    height: 250px;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(255, 145, 76, 1);
    background-color: rgba(255, 246, 206, 0.9);
  }

  .card_img {
    width: 70px;
    height: 70px;
  }

  .card_para {
    font-size: 15px;
    line-height: 23px;
    max-width: none;
  }

  .btn {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 30px;
    border-radius: 30px;
  }

  .card:hover .btn {
    padding: 13px 55px;
    font-size: 15px;
  }
}
@media screen and (max-width: 690px) {
  .classes {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    width: 100%;
  }
  .cards {
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    width: 270px;
    height: 200px;
  }

  .card_img {
    width: 60px;
    height: 60px;
  }

  .card_para {
    font-size: 13px;
    line-height: 23px;
    max-width: none;
  }

  .btn {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 30px;
    border-radius: 30px;
  }

  .card:hover .btn {
    padding: 10px 55px;
    font-size: 13px;
  }
}
